.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}

.container main {
    flex-grow: 1;
    padding: 16px;
    width: 86%;
    margin: 10px auto;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin: 10px;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}