/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body { 
    height: 100%; 
    background-color: #161215;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2 {
    text-align: center;
    color:yellow; font-family: Georgia, 'Times New Roman', Times, serif;
}
